$purple: #682ae9;
$yellow: #b4b405;
$light: #dbdbdb;
$header-link: #dbdbdb;
$header-link-hover: #682ae9;
$header-link-hover-icon: #dbdbdb;
$header-link-active: #555;
$std-color: #dbdbdb;
$bg: #0e1212;
$bg-rgb: 14,18,18;
$bgLight: radial-gradient(var($bg),transparent,var($purple) 130%);
$gray: #331574;
$comment: #555;
