.about {
    &_button {
        button {
            margin: 0;
        }
    }

    &_intro {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        svg {
            margin-right: 10px;
        }
    }

    &_title {
        margin: 30px 0 20px 0;
        h1 {
            color: $light;
            font-family: Roboto Mono,monospace;
        }
        hr{
            max-width: 400px;
            border-color: $purple;
        }
    }
    &_skills{
        margin: 20px 0;
    }
    &_me{
        margin-top: 20px;
        max-width: 42rem;
    }
}

.download_cv {
    height: fit-content;
    margin: auto 10px auto 20px;
}

.comment{
    opacity: .2;
}