.project{
    display: flex;
    flex-direction: row;
    margin: 40px 0;
    &_purple{
        p{
        color: $purple!important;
        }
    }
    &_grey{
        color: $light;
        opacity: .2;
    }
    
    &_background{
        padding: 50px;
        width: fit-content;
        background-color: $purple;
        border-radius: 40%;
        transition: all .4s ease-out;
    }
    &_info{
        height: fit-content;
        margin: auto 0px auto 40px;
        h1{
            color: $purple;
        }
    }
    &_tools{
        opacity: 0.2;
        margin-bottom: 10px;
    }
}
.project_description{
    transition: all .4s ease-out;
}
.project:hover{
    .project_description{
        color: $purple;
        transition: all .4s ease-out;
    }
    .pablo,.pgm,.sock,.refuway, .riness{
        transform: scale(1.2);
        transition: all .4s ease-out;
    }
    .project_background{
        box-shadow: 0px 0px 15px 3px $light;
        transition: all .4s ease-out;
        z-index: 1;
    }
}

.refuway{
    background-image: url('../../img/wizard.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 112px;
    height: 126.5px;
    transition: all .4s ease-out;
    z-index: 2;
}
.pablo{
    background-image: url('../../img/pablo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 112px;
    height: 126.5px;
    transition: all .4s ease-out;
}
.riness{
    background-image: url('../../img/ring.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    width: 112px;
    height: 126.5px;
    transition: all .4s ease-out;
}
.pgm{
    background-image: url('../../img/pgm.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    width: 112px;
    height: 126.5px;
    transition: all .4s ease-out;
}
.sock{
    svg{
        color: $light;
        width: 112px;
        height: 100%;
    }
    transition: all .4s ease-out;
}

